*{
    padding: 0;
    margin: 0;
}

.Hero_section{
    width: 100%;
    height: 740px;
    background-image: url(../img/hero-image.png);
    background-position: center;
    background-size: cover;
}

.description {
    margin: 0 auto;
}

.main_list{
    display: flex;
    justify-content:flex-end ;
    gap: 48px;
    list-style: none;
}

.list_items a {
    text-decoration: none; 
}